.background{
	/*background-color: #e5e5e5;*/
	background: #ccc url('../images/body-back.png') center;
}
.footer{
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #ccc;
}
a{
	cursor: pointer;
	color: #97c433;
	font-weight: bold;
}
span, required{
	color:red;
}
fieldset{
	padding: 20px !important;
	border: 1px solid #e5e5e5 !important;
}
fieldset legend{
	width:auto;
	border-bottom: 0;
	margin: 0;
	font-weight: bold;
	padding: 5px;
	/*font-size: 16px;*/
}
.footer{
	margin-top: 15px;
}
textarea {
	resize: none;
}

#tableDocuments span{
	color:black;
}
.menuV{
	display:inherit;
}
.menuV ul{
	list-style: none;
	padding: 0px;
}
div#sidebar.menuV ul li a.btn-default{
	background-color: black;
	display: block;
	text-align: left;
	font-weight: bold;
	color: white;
}

div#sidebar.menuV ul li a.btn-default:hover{
	background-color: #97c433;
	color: black;
}

nav.navbar{
	margin-bottom: 0px;
}
nav.navbar.navbar-inverse a{
	color:  #97c433;
}